.content-grid-container {
    padding: 16px;
    margin-top: 60px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 32px;
    width: 100%;
}

.loading-trigger {
    height: 20px;
    width: 100%;
    opacity: 0;
}